.title-bar {
  background-color: #12a658;
  color: white;
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.collapsible {
  background-color: #043871;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  margin-top: 5px;
}
.active,
.collapsible:hover {
  background-color: #0652a2;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  margin-bottom: 10px;
}
.latest-report {
  background-color: #ffffcc;
  border: 2px solid #f1c40f;
}
body {
  font-family: "Poppins", sans-serif;
}
#severityChart {
  display: block;
  margin: 0 auto;
}
.chartjs-render-monitor {
  margin: 0 auto;
}
